<div class="active-league" data-league-id="<%- data.league_id %>" data-team-id="<%- data.team.team_id ->">
        <div class="league-info">
            <div class="league-info-row">
                <div class="league-title"><%- data.league_name %></div>
            </div>
            <div class="league-info-row">
                <div class="team-name"><%- data.team.team_name %></div>
                <div class="team-pts"><%- data.team.points %></div>
            </div>
        </div>
    <div class="field-bg">

    </div>
    <div class="team-info">
        <div class="captain-section">
            <div class="section-header padding-hrztl-5">
                Captain
            </div>
            <div class="stat-row stat-cell-border padding-hrztl-5">
                Captain Placeholder
            </div>
        </div>
        <div class="transfer-section">
            <div class="section-header padding-hrztl-5">
                Transfers
            </div>
            <div class="empty-transfer">
                Not Scheduled
            </div>
            <div class="empty-transfer">
                Not Scheduled
            </div>
            <div class="empty-transfer">
                Not Scheduled
            </div>
        </div>
        <div class="value-section">
            <div class="section-header padding-hrztl-5">
                Team Value
            </div>
            <div class="stat-row">
                <div class="transfer-player-cell padding-hrztl-5 stat-cell-border">
                    Value
                </div>
                <div class="transfer-info-cell stat-cell-border">
                    79.9m
                </div>
            </div>
            <div class="stat-row">
                <div class="transfer-player-cell padding-hrztl-5 stat-cell-border">
                    Spent
                </div>
                <div class="transfer-info-cell stat-cell-border">
                    76.3m
                </div>
            </div>
            <div class="stat-row">
                <div class="transfer-player-cell padding-hrztl-5 stat-cell-border">
                    Balance
                </div>
                <div class="transfer-info-cell stat-cell-border">
                    3.6m
                </div>
            </div>
        </div>
        <div class="roster-section">
            <div class="section-header padding-hrztl-5">
                Roster
            </div>
            <div class="stat-row">
                <div class="roster-xtra-cell">
                    GK
                </div>
                <div class="roster-name-cell">
                    Ederson
                </div>
                <div class="roster-xtra-cell">
                    MNC
                </div>
                <div class="roster-xtra-cell">
                    7.8m
                </div>
                <div class="roster-xtra-cell">
                    0
                </div>
            </div>
            <div class="stat-row">
                <div class="roster-xtra-cell">
                    GK
                </div>
                <div class="roster-name-cell">
                    Ederson
                </div>
                <div class="roster-xtra-cell">
                    MNC
                </div>
                <div class="roster-xtra-cell">
                    7.8m
                </div>
                <div class="roster-xtra-cell">
                    0
                </div>
            </div>
            <div class="stat-row">
                <div class="roster-xtra-cell">
                    GK
                </div>
                <div class="roster-name-cell">
                    Ederson
                </div>
                <div class="roster-xtra-cell">
                    MNC
                </div>
                <div class="roster-xtra-cell">
                    7.8m
                </div>
                <div class="roster-xtra-cell">
                    0
                </div>
            </div>
            <div class="stat-row">
                <div class="roster-xtra-cell">
                    GK
                </div>
                <div class="roster-name-cell">
                    Ederson
                </div>
                <div class="roster-xtra-cell">
                    MNC
                </div>
                <div class="roster-xtra-cell">
                    7.8m
                </div>
                <div class="roster-xtra-cell">
                    0
                </div>
            </div>
            <div class="stat-row">
                <div class="roster-xtra-cell">
                    GK
                </div>
                <div class="roster-name-cell">
                    Ederson
                </div>
                <div class="roster-xtra-cell">
                    MNC
                </div>
                <div class="roster-xtra-cell">
                    7.8m
                </div>
                <div class="roster-xtra-cell">
                    0
                </div>
            </div>
            <div class="stat-row">
                <div class="roster-xtra-cell">
                    GK
                </div>
                <div class="roster-name-cell">
                    Ederson
                </div>
                <div class="roster-xtra-cell">
                    MNC
                </div>
                <div class="roster-xtra-cell">
                    7.8m
                </div>
                <div class="roster-xtra-cell">
                    0
                </div>
            </div>
            <div class="stat-row">
                <div class="roster-xtra-cell">
                    GK
                </div>
                <div class="roster-name-cell">
                    Ederson
                </div>
                <div class="roster-xtra-cell">
                    MNC
                </div>
                <div class="roster-xtra-cell">
                    7.8m
                </div>
                <div class="roster-xtra-cell">
                    0
                </div>
            </div>
            <div class="stat-row">
                <div class="roster-xtra-cell">
                    GK
                </div>
                <div class="roster-name-cell">
                    Ederson
                </div>
                <div class="roster-xtra-cell">
                    MNC
                </div>
                <div class="roster-xtra-cell">
                    7.8m
                </div>
                <div class="roster-xtra-cell">
                    0
                </div>
            </div>
            <div class="stat-row">
                <div class="roster-xtra-cell">
                    GK
                </div>
                <div class="roster-name-cell">
                    Ederson
                </div>
                <div class="roster-xtra-cell">
                    MNC
                </div>
                <div class="roster-xtra-cell">
                    7.8m
                </div>
                <div class="roster-xtra-cell">
                    0
                </div>
            </div>
            <div class="stat-row">
                <div class="roster-xtra-cell">
                    GK
                </div>
                <div class="roster-name-cell">
                    Ederson
                </div>
                <div class="roster-xtra-cell">
                    MNC
                </div>
                <div class="roster-xtra-cell">
                    7.8m
                </div>
                <div class="roster-xtra-cell">
                    0
                </div>
            </div>
        </div>
    </div>
</div>