<style>
    .admin-btns-container{
        display:flex;
        width:100%;
        justify-content: space-evenly;
        flex-flow: row;
    }
    .admin-label{
        width:20%;
        line-height: 30px;
        float:right;
        color:#ffffff;
    }
</style>
<div class="view-container-row">
    <div class="view-half-panel-width dark-grey-background">
        <table id="admin-users-table" class="pi-theme nowrap hover"></table>
    </div>
    <div class="view-half-panel-width dark-grey-background">
        <div class="admin-btns-container">
            <button id="new-user-btn" class="btn pi-default-btn" data-user-id="0">New User</button>
            <button id="user-logs-btn" class="btn pi-default-btn">User Logs</button>
        </div>
        <div class="admin-user-display-container">

        </div>
    </div>
</div>