<select id="<%- id %>" class="<%- class %>">
    <% if(placeholder){ %>
        <option disabled><%- placeholder %></option>
    <% } %> 
    <% options.forEach(function(row){
        <option value="<%- row.value %>"><%- row.text %></option>
    <% }) %>
</select>