<!DOCTYPE html>
<html lang="en" class="pi-fit-screen-100">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/datatables-pi-theme.css">
        <link rel="stylesheet" href="/datatables-bs/css/dataTables.bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    </head>
    <body class="pi-page-container">
        <div id="pi-alert" class="pi-alert-base"></div>
        <div class="pi-top-bar">
            <div class="pi-mobile-menu-btn-container"><i class="fa fa-bars"></i></div>
            <div class="pi-header">PiTeam</div>
            <div class="pi-title-search-container"><input type="text" id="search-bar" class="pi-search-bar" placeholder="Search..."></div>
            <div class="user-display"><i class="fas fa-user-circle" style="margin-right:5px;"></i><%- username %><i class="fas fa-caret-down" style="margin-left:10px;"></i></div>
        </div>
        <div class="pi-nav-bar-container">
            <ul class="pi-nav-bar">
                <li class="pi-nav-btn">Fantasy Leagues</li>
                <li class="pi-nav-btn">Teams</li>
                <li class="pi-nav-btn">Players</li>
                <li class="pi-nav-btn pi-nav-btn-footer">Admin</li>
            </ul>
        </div>
        <div class="pi-flex-view-container">
            <%- tmpl %>
        </div>

        <script type='text/javascript' src="/jquery/jquery.js"></script>
        <script type="text/javascript" src="/helper/moment.min.js"></script>
        <!-- <script type="text/javascript" src="/helper/bootstrap.min.js"></script> -->
        <script type="text/javascript" src="/helper/viewHelper.js"></script>
        <script type="text/javascript" src="/fusioncharts/fusioncharts.js"></script>
        <script type="text/javascript" src="/datatables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/datatables-bs/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="/viewjs/defaultTemplate.js"></script>
        <script type='text/javascript' src="/bootstrap/js/bootstrap.min.js"></script>
        <%- view %>

        <div class="modal fade" id="base-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div id="base-modal-content" class="modal-content">
                    
                </div>
            </div>
        </div>

        <div class="modal fade" id="base-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div id="base-modal-lg-content" class="modal-content">
                        
                    </div>
                </div>
            </div>
    </body>
</html>