<!DOCTYPE html>
  <html lang="en" class="pi-fit-screen-100">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        
        <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="/stylesheets/style.css" rel="stylesheet">

    </head>
    <style>
      .pi-error-container{
        color:#9e0000;
        background-color: #404040;
        padding:5px;
        width:100%;
        height:100%;
        margin:auto 0;
        overflow-y:auto;
        font-size: 12pt;
      }
    </style>
    <body class="pi-default-background pi-fit-screen-100">
      <div class="pi-page-container">
        <div class="pi-error-container">
          <h1><%- error.message %></h1>
          <h2><%- error.status %></h2>
          <p>
            <%- error.stack %>
          </p>
        </div>
      </div>
    </body>
</html>

<!-- block content
  h1= message
  h2= error.status
  pre #{error.stack} -->

<!-- <% error.stack %> -->
