<style>
    .dynamic-container-col{
        display:flex;
        flex-flow:column;
        justify-content: center;
        align-items:center;
        width:100%;
        padding:5px;
        margin-bottom: 20px;
    }
    .field-container{
        display: flex;
        flex-flow: column;
        background-color: #00ff00;
        width:100%;
        justify-content: space-evenly;
        height:700px;
    }
    .lineup-row{
        display:inline-flex;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        height:75px;
        margin:10px 5px;
    }
    .player-placeholder{
        width:250px;
        height:75px;
        font-size:35px;
        background-color: #ff0000;
    }
    .team-information{
        display:flex;
        flex-flow:row;
        width:100%;
    }
    .team-controls{
        width:50%;
        height:700px;
        /* background-color: #0000ff; */
        padding:5px;
    }
    .team-statistics{
        width:50%;
        height:700px;
        background-color: #ff0000;
        padding:5px;
    }
    .heading-row{
        width:100%;
        height:50px;
        background:linear-gradient(to bottom, #ffffff, #aaaaaa);
        color:#333333;
        font-size:40px;
        padding:0 10px;
        line-height:50px;
    }
    .line-up-table,
    .transfers-table{
        width:100%;
        border:1px solid #cccccc;
        color:#cccccc
    }
    .line-up-table tr,
    .transfers-table tr{
        height:35px;
        font-size:14pt;
    }
    .line-up-table th,
    .line-up-table td,
    .transfers-table th,
    .transfers-table td{
        padding:0 5px;
        border:1px solid #cccccc;
    }
    th.center,
    td.center{
        text-align: center;
    }
    th.name,
    td.name{
        width:40%;
    }
    th.stat,
    td.stat{
        width:15%;
    }
    th.trans-stat,
    td.trans-stat{
        width:14%;
    }
    .trans-chevron{
        width:4%;
    }
    .empty-transfer{
        width:100%;
        justify-content: center;
        height:70px;
    }
    .empty-trans-row{
        display:flex;
        height:35px;
        justify-content: center;
        align-items: center;
    }
    .border-rad-5{
        border-radius:5px;
    }
    @media(max-width:950px){
        .team-information{
            flex-flow:column;
        }
        .team-controls,
        .team-statistics{
            width:100%;
        }
    }


    /* @media (min-width: 1900px){
        .dynamic-container-col{
            width:1600px;
        }
        .field-container{
            height:700px;
        }
    }
    @media (max-width: 1900px){
        .dynamic-container-col{
            width:1450px;
        }
        .field-container{
            height:700px;
        }
    }
    @media (max-width: 1700px){
        .dynamic-container-col{
            width:1250px;
        }
        .field-container{
            height:700px;
        }
    }
    @media (max-width: 1500px){
        .dynamic-container-col{
            width:1050px;
        }
        .field-container{
            height:700px;
        }
    }
    @media (max-width: 1300px){
        .dynamic-container-col{
            width:850px;
        }
        .field-container{
            height:600px;
        }
    }
    @media (max-width: 1100px){
        .dynamic-container-col{
            width:650px;
        }
        .field-container{
            height:500px;
        }
    }
    @media (max-width: 900px){
        .dynamic-container-col{
            width:450px;
        }
        .field-container{
            height:400px;
        }
    }
    @media (max-width: 700px){
        .dynamic-container-col{
            width:250px;
        }
        .field-container{
            height:400px;
        }
    } */
</style>
<div class="view-container-column" data-team-id="<%- team_id %>"> 
    <div class="dynamic-container-col">
        <div class="field-container">
            <div id="GK-row" class="lineup-row">
                <!-- <div class="player-placeholder" data-active-player="000000">TEST GK</div> -->
            </div>
            <div id="DEF-row" class="lineup-row">
                    <div class="player-placeholder" data-active-player="000000">TEST DEF</div>
                    <div class="player-placeholder" data-active-player="000000">TEST DEF</div>
                    <div class="player-placeholder" data-active-player="000000">TEST DEF</div>
                    <div class="player-placeholder" data-active-player="000000">TEST DEF</div>
            </div>
            <div id="MID-row" class="lineup-row">
                    <div class="player-placeholder" data-active-player="000000">TEST MID</div>
                    <div class="player-placeholder" data-active-player="000000">TEST MID</div>
                    <div class="player-placeholder" data-active-player="000000">TEST MID</div>
            </div>
            <div id="FOR-row" class="lineup-row">
                    <div class="player-placeholder" data-active-player="000000">TEST FOR</div>
                    <div class="player-placeholder" data-active-player="000000">TEST FOR</div>
                    <div class="player-placeholder" data-active-player="000000">TEST FOR</div>
            </div>
        </div>
        <div class="team-information" style="margin-bottom:20px;">
            <div class="team-controls">
                <div class="heading-row">
                    Line-up
                </div>
                <div class="line-up-container">
                    <table class="line-up-table">
                        <thead>
                            <tr>
                                <th class="name">Name</th>
                                <th class="center stat">Team</th>
                                <th class="center stat">Pts</th>
                                <th class="center stat">Pos</th>
                                <th class="center stat">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% players.forEach(player =>{ %>
                            <tr>
                                <td class="name"><%- player['name'] %></td>
                                <td class="center stat"><%- player['team'] %></td>
                                <td class="center stat"><%- player['points'] %></td>
                                <td class="center stat"><%- player['position'] %></td>
                                <td class="center stat"><%- player['cost'].toFixed(1) %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
                <div class="heading-row">
                    Transfers
                </div>
                <div class="transfers-container">
                    <table class="transfers-table">
                        <tbody>
                            <% for(let i=0;i<3;i++){ %>
                                <% if(transfers[i]){ %>
                                <tr class="transfer-btn" data-trans-id="<%- transfers[i]['trans_id'] %>">
                                    <td class="name"><%- transfers[i]['player_out']['name'] %></td>
                                    <td class="center trans-stat"><%- transfers[i]['player_out']['team'] %></td>
                                    <td class="center trans-stat"><%- transfers[i]['player_out']['points'] %></td>
                                    <td class="center trans-stat"><%- transfers[i]['player_out']['position'] %></td>
                                    <td class="center trans-stat"><%- transfers[i]['player_out']['cost'] %></td>
                                    <td class="center trans-chevron"><i class="fa fa-chevron-right" style="color:#ff0000;"></i></td>
                                </tr>
                                <tr class="transfer-btn" data-trans-id="<%- transfers[i]['trans_id'] %>">
                                    <td class="name"><%- transfers[i]['player_in']['name'] %></td>
                                    <td class="center trans-stat"><%- transfers[i]['player_in']['team'] %></td>
                                    <td class="center trans-stat"><%- transfers[i]['player_in']['points'] %></td>
                                    <td class="center trans-stat"><%- transfers[i]['player_in']['position'] %></td>
                                    <td class="center trans-stat"><%- transfers[i]['player_in']['cost'] %></td>
                                    <td class="center trans-chevron"><i class="fa fa-chevron-left" style="color:#00ff00;"></i></td>
                                </tr>
                                <% }else{ %>
                                <tr data-trans-id="0">
                                    <td colspan="6" class="empty-transfer">
                                        <div class="empty-trans-row">Schedule Transfer</div>
                                        <div class="empty-trans-row"><button class="pi-default-btn border-rad-5 transfer-btn">Transfer</button></div>
                                    </td>
                                </tr>
                                <% } %>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="team-statistics">
                
            </div>
        </div>
    </div>
</div>