<style>
    .game-time-header{
        background-color: #8d0000;
        color: #333333;
        border-radius: 5px;
        width:100%;
        justify-content: center;
        align-items: center;
    }
    .game-list-team-score{
        width: 5%;
    }
    .game-list-team-name{
        width:40%;
    }
    .game-list-vs{
        width:10%;
    }
</style>
<div id="game-list-modal" class="flex-container-column">
    <% schedule.forEach(section => { %>
        <div class="game-time-header flex-container-row">
            <%- section.gametime %>
        </div>
        <% section.games.forEach(game =>{ %>
        <div class="flex-container-row" data-game-id="<%- game.id %>">
            <div class="game-list-team-score"><%- game.home_score %></div>
            <div class="game-list-team-name"><%- game.home_team %></div>
            <div class="game-list-vs">vs</div>
            <div class="game-list-team-name"><%- game.away_team %></div>
            <div class="game-list-team-score"><%- game.away_score %></div>
        </div>
        <% }); %>
    <% }); %>
</div>