<!DOCTYPE html>
<html lang="en" class="pi-fit-screen-100">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/datatables-bs/css/dataTables.bootstrap.min.css">

    </head>
    <body class="pi-login-page-container">
        <div id="pi-alert" class="pi-alert-base"></div>
        <div class="pi-login-box">
          <div class="pi-login-icon-box"></div>
          <div class="pi-login-inputs">
            <div class="flex-row">
              <label for="username" style="line-height: 30px; width:100px; color:#ffffff;">Username: </label>
              <input type="text" id="username" class="pi-input" data-field="username" placeholder="Username">
            </div>
            <div class="flex-row">
              <label for="password" style="line-height: 30px; width:100px; color:#ffffff;">Password: </label>
              <input type="password" id="password" class="pi-input" data-field="password" placeholder="Password">
            </div>
            <div class="flex-row">
              <button id='login-btn' class="btn pi-default-btn" style="float:right;">Login</button>
            </div>
          </div>
        </div>

        <script type='text/javascript' src="/jquery/jquery.js"></script>
        <script type="text/javascript" src="/helper/moment.min.js"></script>
        <script type="text/javascript" src="/helper/viewHelper.js"></script>
        <script type="text/javascript" src="/fusioncharts/fusioncharts.js"></script>
        <script type="text/javascript" src="/datatables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/datatables-bs/js/dataTables.bootstrap.min.js"></script>
        <%- view %>
    </body>
</html>