<style>
    div.input-row{
        margin:3px 0;
        display:inline-block;
        width:100%;
    }
    div.league-label{
        float:left;
        width:50%;
        line-height: 30px;
    }
    div.league-input{
        float:right;
        width:50%;
    }

</style>

<div id="create-league-modal">
    <div class="modal-header">
        <div class="modal-header-content">
            Fantasy League
            <div class="close-modal-x"><span class="glyphicon glyphicon-remove"></span></div>
        </div>
    </div>
    <div id="new-league-modal-body" class="modal-body">
        <div class="league-modal-btn-container">
            <button id="create-league-btn" class="league-modal-btn">Create League</button>
            <button id="join-league-btn" class="league-modal-btn">Join League</button>
        </div>
        <div id="create-league-content" class="league-modal-content">
            <div class="input-row">
                <div class="league-label">
                    <label for="team-name" style="float:right; padding:0 15px;">Team Name:</label>
                </div>
                <div class="league-input">
                    <input type="text" id="team-name" class="pi-input" placeholder="Enter Team Name">
                </div>
            </div>
            <div class="input-row">
                <div class="league-label">
                    <label for="league-name" style="float:right; padding:0 15px;">League Name:</label>
                </div>
                <div class="league-input">
                    <input type="text" id="league-name" class="pi-input" placeholder="Enter League Name">
                </div>
            </div>
            <div class="input-row">
                <div class="league-label">
                    <label for="league-password" style="float:right; padding:0 15px;">Password:</label>
                </div>
                <div class="league-input">
                    <input type="text" id="league-password" class="pi-input" placeholder="Enter Password">
                </div>
            </div>
            <div class="input-row">
                <div class="league-label">
                    <label for="league-password-confirm" style="float:right; padding:0 15px;">Confirm Password:</label>
                </div>
                <div class="league-input">
                    <input type="text" id="league-password-confirm" class="pi-input" placeholder="Confirm Password">
                </div>
            </div>
        </div>

        <div id="join-league-content" class="league-modal-content">
            <div class="input-row">
                <div class="league-label">
                    <label for="team-name" style="float:right; padding:0 15px;">Team Name:</label>
                </div>
                <div class="league-input">
                    <input type="text" id="team-name" class="pi-input" placeholder="Enter Team Name">
                </div>
            </div>
            <div class="input-row">
                <div class="league-label">
                    <label for="league-name-search" style="float:right; padding:0 15px;">League Name:</label>
                </div>
                <div class="league-input">
                    <input type="text" id="league-name-search" class="pi-input" placeholder="Enter League Name">
                </div>
            </div>
            <div class="input-row">
                <div class="league-label">
                    <label for="league-password-search" style="float:right; padding:0 15px;">Password:</label>
                </div>
                <div class="league-input">
                    <input type="text" id="league-password-search" class="pi-input" placeholder="Enter Password">
                </div>
            </div>
        </div>
    </div>
    <div id="new-league-modal-footer" class="modal-footer">
        <div class="modal-footer-btn-container">
            <button type="button" id="confirm-create-btn" class="btn action-modal-footer-btn footer-btn" style="display:none;">Create League</button>
            <button type="button" id="confirm-join-btn" class="btn action-modal-footer-btn footer-btn" style="display:none;">Join League</button>
            <button type="button" class="btn dismiss-modal-footer-btn footer-btn" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
