<div id="player-list-modal" class="flex-container-column">
    <% players.forEach(player => { %>
        <div class="flex-container-row">
            <div class="transfer-name"><%- player.name %></div>
            <div class="transfer-pos"><%- player.pos %></div>
            <div class="transfer-price"><%- player.price %></div>
            <div class="transfer-chevron"><span class="glyphicon glyphicon-plus-circle" style="color:#666666;"></span></div>
        </div>
    <% }); %>
</div>