<div id="select-team-modal">
    <div class="modal-header">
        <div id="select-team-modal-header" class="modal-header-content">
            Select Team
        </div>
    </div>
    <div id="select-team-modal-body" class="modal-body">
        <div id="select-team-user-team" class="select-team-user-team">
            <table id="select-team-user-table" class="select-team-user-table pi-theme striped hover compact">
                <!-- <thead>
                    <tr>
                        <th data-sort="true" data-field="name">
                            <div class="select-table-head">
                                Name 
                                <span class="sort-icons">
                                    <i class="fa fa-angle-up sort"></i>
                                    <i class="fa fa-angle-down sort"></i>
                                </span>
                            </div>
                        </th>
                        <th data-sort="false" data-field="team_abv">
                            <div class="select-table-head">
                                Team 
                                <span class="sort-icons">
                                    <i class="fa fa-angle-up sort"></i>
                                    <i class="fa fa-angle-down sort"></i>
                                </span>
                            </div>
                        </th>
                        <th data-sort="false" data-field="position">
                            <div class="select-table-head">
                                Pos 
                                <span class="sort-icons">
                                    <i class="fa fa-angle-up sort"></i>
                                    <i class="fa fa-angle-down sort"></i>
                                </span>
                            </div>
                        </th>
                        <th data-sort="false" data-field="points">
                            <div class="select-table-head">
                                Pts 
                                <span class="sort-icons">
                                    <i class="fa fa-angle-up sort"></i>
                                    <i class="fa fa-angle-down sort"></i>
                                </span>
                            </div>
                        </th>
                        <th data-sort="false" data-field="cost">
                            <div class="select-table-head">
                                Cost 
                                <span class="sort-icons">
                                    <i class="fa fa-angle-up sort"></i>
                                    <i class="fa fa-angle-down sort"></i>
                                </span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>

                </tbody> -->
            </table>
        </div>
        <div id="select-team-all-players" class="select-team-all-players">
            <table id="select-team-players-table" class="select-team-players-table pi-theme striped hover compact">
                <!-- <thead>
                    <tr>
                        <th data-sort="true" data-field="name">
                            <div class="select-table-head">
                                Name 
                                <span class="sort-icons">
                                    <i class="fa fa-angle-up sort"></i>
                                    <i class="fa fa-angle-down sort"></i>
                                </span>
                            </div>
                        </th>
                        <th data-sort="false" data-field="team_abv">
                            <div class="select-table-head">
                                Team 
                                <span class="sort-icons">
                                    <i class="fa fa-angle-up sort"></i>
                                    <i class="fa fa-angle-down sort"></i>
                                </span>
                            </div>
                        </th>
                        <th data-sort="false" data-field="position">
                            <div class="select-table-head">
                                Pos 
                                <span class="sort-icons">
                                    <i class="fa fa-angle-up sort"></i>
                                    <i class="fa fa-angle-down sort"></i>
                                </span>
                            </div>
                        </th>
                        <th data-sort="false" data-field="points">
                            <div class="select-table-head">
                                Pts 
                                <span class="sort-icons">
                                    <i class="fa fa-angle-up sort"></i>
                                    <i class="fa fa-angle-down sort"></i>
                                </span>
                            </div>
                        </th>
                        <th data-sort="false" data-field="cost">
                            <div class="select-table-head">
                                Cost 
                                <span class="sort-icons">
                                    <i class="fa fa-angle-up sort"></i>
                                    <i class="fa fa-angle-down sort"></i>
                                </span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% allPlayers.forEach(player => { %>
                    <tr data-player-id="<%- player.player_id %>">
                        <td><%- player.name %></td>
                        <td><%- player.team_abv %></td>
                        <td><%- player.position %></td>
                        <td></td>
                        <td><%- player.cost %></td>
                    </tr>
                    <% }) %>
                </tbody> -->
            </table>
        </div>
    </div>
    <div id="select-team-modal-footer" class="modal-footer">
        <div class="modal-footer-btn-container">
            <button id="select-team-cancel-btn" class="btn pi-danger-btn">Cancel</button>
            <button id="select-team-save-btn" class="btn pi-default-btn">Save</button>
        </div>
    </div>
</div>
<style>

    .select-team-user-team,
    .select-team-all-players{
        width:100%;
        padding:5px;
    }
    .select-team-user-table,
    .select-team-players-table{
        width:100%;
    }
    /* .select-team-user-table th,
    .select-team-user-table td,
    .select-team-players-table th,
    .select-team-players-table td{
        border:1px solid #ffffff;
        padding:0 5px;
    }
    .sort-icons{
        display:flex;
        flex-flow: column;
        margin-left:15px;
    }
    .sort{
        display: flex;
        height: 50%;
        justify-content: center;
        align-items: center;
    }
    .select-table-head{
        display:flex;
        flex-flow:row;
        justify-content: center;
        align-items: center;
    } */
</style>