<div id="transfer-modal">
    <div class="modal-header">
        <div id="transfer-modal-header" class="modal-header-content">
            Transfer
            <div class="close-modal-x" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></div>
        </div>
    </div>
    <div id="transfer-modal-body" class="modal-body">
        <div class="trans-modal-content">
            <div class="trans-modal-player-block" data-action="out">
                <div class="trans-player-photo">
                    <i class="fa fa-user"></i>
                </div>
                <div class="trans-player-info">
                    <div class="trans-stat-row">
                        <div class="trans-stat-cell">
                            <div class="trans-stat-label">
                                Player Name
                            </div>
                            <div class="trans-stat-value">
                                UNKNOWN
                            </div>
                        </div>
                        <div class="trans-stat-cell">
                            <div class="trans-stat-label">
                                Position
                            </div>
                            <div class="trans-stat-value">
                                UNKNOWN
                            </div>
                        </div>
                    </div>

                    <div class="trans-stat-row">
                        <div class="trans-stat-cell">
                            <div class="trans-stat-label">
                                Team
                            </div>
                            <div class="trans-stat-value">
                                UNKNOWN
                            </div>
                        </div>
                        <div class="trans-stat-cell">
                            <div class="trans-stat-label">
                                Points
                            </div>
                            <div class="trans-stat-value">
                                UNKNOWN
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trans-modal-chevron color-green">
                    <i class="fa fa-chevron-right"></i>
                </div>
            </div>

            <!-- <div class="trans-modal-player-table hide">
                <table id="trans-player-out-table" class="trans-player-table">
                    <% playerList.forEach(player => { %>
                    <tr data-player-id="<%- player.player_id %>" class="trans-player-row">
                        <td><%- player.name %></td>
                        <td><%- player.team_abv %></td>
                        <td><%- player.cost %></td>
                        <td><%- player.position %></td>
                    </tr>
                    <% }) %>
                </table> -->
            </div>

            <div class="trans-modal-player-block" data-action="in">
                <div class="trans-player-photo">
                    <i class="fa fa-user"></i>
                </div>
                <div class="trans-player-info">
                    <div class="trans-stat-row">
                        <div class="trans-stat-cell">
                            <div class="trans-stat-label">
                                Player Name
                            </div>
                            <div class="trans-stat-value">
                                UNKNOWN
                            </div>
                        </div>
                        <div class="trans-stat-cell">
                            <div class="trans-stat-label">
                                Position
                            </div>
                            <div class="trans-stat-value">
                                UNKNOWN
                            </div>
                        </div>
                    </div>

                    <div class="trans-stat-row">
                        <div class="trans-stat-cell">
                            <div class="trans-stat-label">
                                Team
                            </div>
                            <div class="trans-stat-value">
                                UNKNOWN
                            </div>
                        </div>
                        <div class="trans-stat-cell">
                            <div class="trans-stat-label">
                                Points
                            </div>
                            <div class="trans-stat-value">
                                UNKNOWN
                            </div>
                        </div>
                    </div>
                </div>
                <div class="trans-modal-chevron color-red">
                    <i class="fa fa-chevron-left"></i>
                </div>
            </div>
            <div class="trans-modal-player-table hide">
                <table class="trans-player-table">
                    <% playerList.forEach(player => { %>
                    <tr data-player-id="<%- player.player_id %>" class="trans-player-row">
                        <td><%- player.name %></td>
                        <td><%- player.team_abv %></td>
                        <td><%- player.cost %></td>
                        <td><%- player.position %></td>
                    </tr>
                    <% }) %>
                </table>
            </div>
        </div>
    </div>
    <div id="new-league-modal-footer" class="modal-footer">
        <div class="modal-footer-btn-container">
            <button type="button" class="btn dismiss-modal-footer-btn footer-btn" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>

<style>
    .trans-modal-player-block{
        width:100%;
        height:250px;
        margin: 5px 0;
        border:1px dashed #ffffff;
        display:flex;
        flex-flow:row;
    }
    .trans-modal-player-block:hover{
        cursor: pointer;
        border: 1px solid #ffffff;
    }
    .trans-player-photo{
        margin:0 10px;
        font-size:150px;
        display:flex;
        flex-flow:column;
        justify-content: center;
        align-items: center;
    }
    .trans-player-info{
        white-space: nowrap;
        padding:5px;
        display: flex;
        flex-flow: column;
        width:100%;
        justify-content: space-around;
    }
    .trans-stat-row{
        display: flex;
        flex-flow:row;
        width:100%;
        justify-content: space-around;
    }
    .trans-stat-cell{
        /* width:50%; */
        display: flex;
        flex-flow:column;
        align-items: center;
        justify-content: center;
    }
    .trans-stat-label{
        width:100%;
        border-bottom:2px solid #ffffff;
        display:flex;
        justify-content: center;
    }
    .trans-stat-value{
        width:100%;
        display:flex;
        justify-content: center;
    }
    .trans-modal-chevron{
        margin:0 10px;
        font-size:150px;
        display:flex;
        flex-flow:column;
        justify-content: center;
        align-items: center;
    }


    .trans-modal-player-table{
        width:100%;
        height:500px;
        overflow: auto;
        padding:5px 0;
    }
    .trans-modal-player-table tr{
        border-top:1px solid #ffffff;
        border-bottom:1px solid #ffffff;
    }
    .trans-modal-player-table tr:hover{
        background-color:#555555;
        cursor: pointer;
    }
    .trans-modal-player-table td{
        padding:5px;
    }
    .trans-player-table{
        width:100%;
    }

    .hide{
        display:none !important;
    }
</style>