<div class="wedge-container">
    <div class="wedge-<%- wedge1.size %>">
        <img src=<%- wedge1.image %> class="wedge-top" alt=<%- wedge1.alt %>>
        <div class="wedge-bottom"><%- wedge1.text %></div>
    </div>
    <div class="wedge-<%- wedge2.size %>">
        <img src=<%- wedge2.image %> class="wedge-top" alt=<%- wedge2.alt %>>
        <div class="wedge-bottom"><%- wedge2.text %></div>
    </div>
    <div class="wedge-<%- wedge3.size %>">
        <img src=<%- wedge3.image %> class="wedge-top" alt=<%- wedge3.alt %>>
        <div class="wedge-bottom"><%- wedge3.text %></div>
    </div>
</div>