<div class="view-container-column" id="edit-user-panel" data-user-id="<%- user.id %>">
    <div class="view-container-row ">
        <div style="width:50%;display:flex;">
            <label for="username" class="admin-label">Username:</label>
            <input type="text" id="username" class="pi-input" placeholder="Username" data-field="username" value="<%- user.username %>">
        </div>
        <div style="width:50%;display:flex;">
            <label for="password" class="admin-label">Password:</label>
            <input type="password" id="password" class="pi-input" data-field="password" placeholder="Password">
        </div>
    </div>
    <div class="view-container-row">
        <div style="width:50%;display:flex;">
            <label for="first_name" class="admin-label">First Name:</label>
            <input type="text" id="first_name" class="pi-input" data-field="first_name" placeholder="First Name" value="<%- user.first_name %>">
        </div>
        <div style="width:50%;display:flex;">
            <label for="last_name" class="admin-label">Last Name:</label>
            <input type="text" id="last_name" class="pi-input" data-field="last_name" placeholder="Last Name" value="<%- user.last_name %>">
        </div>
    </div>
    <div class="view-container-row">
        <div style="width:50%;display:flex;">
            <label for="email" class="admin-label">Email:</label>
            <input type="text" id="email" class="pi-input" data-field="email" placeholder="Email" value="<%- user.email %>">
        </div>
        <div style="width:50%;display:flex;">
                <label for="access" class="admin-label">Access:</label>
                <select id="access" class="pi-input" data-field="access">
                    <% access.forEach((row)=>{ %>
                        <% if(row.id == user.access){ %>
                        <option value="<%- row.id %>" selected><%- row.key_name %></option>
                        <% }else{ %>
                        <option value="<%- row.id %>"><%- row.key_name %></option>
                        <% } %>
                    <% }) %>
                </select>
        </div>
    </div>
    <div class="view-container-row">
            <div style="width:50%;display:flex;">
            </div>
            <div style="width:50%;display:flex;justify-content:center;">
                <button id="save-user-btn" class="btn pi-default-btn">Save</button>
                <button id="cancel-user-btn" class="btn pi-default-btn">Cancel</button>
            </div>
        </div>
</div>