<style>
    .panel-third{
        display:flex;
        width:33%;
        /* height:100vh; */
        margin:5px;
        padding:5px;
    }
    .add-league{
        display: flex;
        border:5px dashed #acacac;
        color:#acacac;
        width:100%;
        height:100%;
        justify-content: center;
        align-items: center;
    }
    .add-league:hover{
        cursor: pointer;
        border:5px dashed #ffffff;
        color:#ffffff;
    }
    .plus-container{
        font-size: 50px;
        margin:5px;
        justify-content: center;
    }
    .active-league{
        width:100%;
        /* overflow-y: auto; */
        border:1px solid #212121;
    }
    .active-league:hover{
        cursor: pointer;
        /* border:1px dashed #ffffff; */
    }
    .league-info{
        height:200px;
        width:100%;
    }
    .league-info-row{
        color:#ffffff;
        height:100px;
        padding:5px;
    }
    .league-title{
        font-size:45px;
    }
    .team-name{
        font-size: 25px;
    }
    .team-pts{
        font-size: 25px;
    }
    .field-bg{
        width:100%;
        height:400px;
        background-color: #00ff00;
    }
    .field-row{
        width:100%;
        display: flex;
        flex-flow: row;

    }
    .section-header{
        width:100%;
        height:30px;
        background-color: #dddddd;
        color:#000000;
        line-height:30px;
        /* padding:0 5px; */
    }
    .stat-row{
        width:100%;
        /* padding:0 5px; */
        color:#ffffff;
        height:30px;
        line-height:30px;
        display:inline-flex;
    }
    .empty-transfer{
        width:100%;
        /* padding:0 5px; */
        color:#ffffff;
        height:60px;
        /* line-height:60px; */
        display:inline-flex;
        align-items:center;
    }
    .transfer-btn-row{
        width:100%;
        /* padding:0 5px; */
        color:#ffffff;
        height:60px;
        line-height:60px;
        display:inline-flex;
        align-items: center;
    }
    .cancel-btn{
        height:25px;
        border-radius: 5px;
        background-color: #ffffff;
        color:#000000;
        border:1px solid #000000;
        line-height:25px;
        margin-right:5px;
    }
    .team-stat{
        border:1px solid #ffffff;
    }
    .stat-cell-border{
        border:1px solid #666666;
    }
    .transfer-player-cell{
        width:60%;
    }
    .transfer-info-cell{
        width:40%;
        display:flex;
        flex-flow:row;
        justify-content: space-evenly;
    }
    .padding-hrztl-5{
        padding:0 5px;
    }
    .roster-name-cell{
        width:40%;
        padding:5px;
        border:1px solid #666666;
        line-height: 20px;
    }
    .roster-xtra-cell{
        width:15%;
        padding:5px;
        display:flex;
        justify-content:center;
        border:1px solid #666666;
        line-height: 20px;
    }

    .transfer-player-icon{
        height:200px;
        width:150px;
        border:3px solid #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 100px;
    }
    .trans-modal-content{
        display:flex;
        flex-flow: column;
        height:500px;
        width:100%;
    }
    .trans-btn-container{
        display:flex;
        flex-flow: row;
    }
    .transfer-player-row{
        height:250px;
        width:100%;
        border-top:1px solid #666666;
        border-bottom:1px solid #666666;
        line-height: 35px;
        color:#666666;
        align-items: center;
    }
    .transfer-player-row:hover{
        cursor: pointer;
    }
    .transfer-name{
        width:40%;
        padding:0 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .transfer-pos,
    .transfer-price,
    .transfer-chevron{
        width:20%;
        justify-content: center;
        display:flex;
        align-items: center;
    }
    .transfer-empty{
        width:80%;
        padding:0 5px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
</style>
<div class="view-container-row" data-week="<%- week_num %>">
    <% if(data[0]){ %>
    <div id="league-panel-one" class="panel-third dark-grey-background">
        <div class="active-league" data-league-id="1" data-team-id="100">
            <div class="league-info">
                <div class="league-info-row">
                    <div class="league-title">Ben's Coney Dougs</div>
                </div>
                <div class="league-info-row">
                    <div class="team-name">Team Name</div>
                    <div class="team-pts">9999 Points</div>
                </div>
            </div>
            <div class="field-bg">

            </div>
            <div class="team-info">
                <div class="section-header padding-hrztl-5">
                    Captain
                </div>
                <div class="stat-row stat-cell-border padding-hrztl-5">
                    Captain Placeholder
                </div>
                <div class="section-header padding-hrztl-5">
                    Transfers
                </div>
                <div class="stat-row">
                    <div class="transfer-player-cell stat-cell-border padding-hrztl-5">
                        Silva B.
                    </div>
                    <div class="transfer-info-cell stat-cell-border padding-hrztl-5">
                        <div>MNC</div>
                        <div>0</div>
                        <span class="glyphicon glyphicon-menu-left" style="color:red;line-height:29px;"></span>
                    </div>
                </div>
                <div class="stat-row">
                    <div class="transfer-player-cell stat-cell-border padding-hrztl-5">
                        Marcos A.
                    </div>
                    <div class="transfer-info-cell stat-cell-border padding-hrztl-5">
                        <div>CHE</div>
                        <div>0</div>
                        <span class="glyphicon glyphicon-menu-right" style="color:green;line-height:29px;"></span>
                    </div>
                </div>
                <div class="stat-row stat-cell-border" style="justify-content:flex-end">
                    <button class="cancel-btn">Cancel</button>
                </div>
                <div class="stat-cell-border">
                    <div class="stat-row">
                        <div style="display:flex;justify-content:center;width:100%;">
                            Transfer 2
                        </div>
                    </div>
                    <div class="transfer-btn-row">
                        <div style="display:flex;justify-content:center;width:100%;">
                            <button class="pi-default-btn btn transfer-btn" data-trans-id="0">New Transfer</button>
                        </div>
                    </div>
                </div>
                <div class="stat-cell-border">
                    <div class="stat-row">
                        <div style="display:flex;justify-content:center;width:100%;">
                            Transfer 3
                        </div>
                    </div>
                    <div class="transfer-btn-row">
                        <div style="display:flex;justify-content:center;width:100%;">
                            <button class="pi-default-btn btn transfer-btn" data-trans-id="0">New Transfer</button>
                        </div>
                    </div>
                </div>
                <div id="value-section">
                    <div class="section-header padding-hrztl-5">
                        Team Value
                    </div>
                    <div class="stat-row">
                        <div class="transfer-player-cell padding-hrztl-5 stat-cell-border">
                            Value
                        </div>
                        <div class="transfer-info-cell stat-cell-border">
                            79.9m
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="transfer-player-cell padding-hrztl-5 stat-cell-border">
                            Spent
                        </div>
                        <div class="transfer-info-cell stat-cell-border">
                            76.3m
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="transfer-player-cell padding-hrztl-5 stat-cell-border">
                            Balance
                        </div>
                        <div class="transfer-info-cell stat-cell-border">
                            3.6m
                        </div>
                    </div>
                </div>
                <div id="roster-section">
                    <div class="section-header padding-hrztl-5">
                        Roster
                    </div>
                    <div class="stat-row">
                        <div class="roster-xtra-cell">
                            GK
                        </div>
                        <div class="roster-name-cell">
                            Ederson
                        </div>
                        <div class="roster-xtra-cell">
                            MNC
                        </div>
                        <div class="roster-xtra-cell">
                            7.8m
                        </div>
                        <div class="roster-xtra-cell">
                            0
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="roster-xtra-cell">
                            GK
                        </div>
                        <div class="roster-name-cell">
                            Ederson
                        </div>
                        <div class="roster-xtra-cell">
                            MNC
                        </div>
                        <div class="roster-xtra-cell">
                            7.8m
                        </div>
                        <div class="roster-xtra-cell">
                            0
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="roster-xtra-cell">
                            GK
                        </div>
                        <div class="roster-name-cell">
                            Ederson
                        </div>
                        <div class="roster-xtra-cell">
                            MNC
                        </div>
                        <div class="roster-xtra-cell">
                            7.8m
                        </div>
                        <div class="roster-xtra-cell">
                            0
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="roster-xtra-cell">
                            GK
                        </div>
                        <div class="roster-name-cell">
                            Ederson
                        </div>
                        <div class="roster-xtra-cell">
                            MNC
                        </div>
                        <div class="roster-xtra-cell">
                            7.8m
                        </div>
                        <div class="roster-xtra-cell">
                            0
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="roster-xtra-cell">
                            GK
                        </div>
                        <div class="roster-name-cell">
                            Ederson
                        </div>
                        <div class="roster-xtra-cell">
                            MNC
                        </div>
                        <div class="roster-xtra-cell">
                            7.8m
                        </div>
                        <div class="roster-xtra-cell">
                            0
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="roster-xtra-cell">
                            GK
                        </div>
                        <div class="roster-name-cell">
                            Ederson
                        </div>
                        <div class="roster-xtra-cell">
                            MNC
                        </div>
                        <div class="roster-xtra-cell">
                            7.8m
                        </div>
                        <div class="roster-xtra-cell">
                            0
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="roster-xtra-cell">
                            GK
                        </div>
                        <div class="roster-name-cell">
                            Ederson
                        </div>
                        <div class="roster-xtra-cell">
                            MNC
                        </div>
                        <div class="roster-xtra-cell">
                            7.8m
                        </div>
                        <div class="roster-xtra-cell">
                            0
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="roster-xtra-cell">
                            GK
                        </div>
                        <div class="roster-name-cell">
                            Ederson
                        </div>
                        <div class="roster-xtra-cell">
                            MNC
                        </div>
                        <div class="roster-xtra-cell">
                            7.8m
                        </div>
                        <div class="roster-xtra-cell">
                            0
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="roster-xtra-cell">
                            GK
                        </div>
                        <div class="roster-name-cell">
                            Ederson
                        </div>
                        <div class="roster-xtra-cell">
                            MNC
                        </div>
                        <div class="roster-xtra-cell">
                            7.8m
                        </div>
                        <div class="roster-xtra-cell">
                            0
                        </div>
                    </div>
                    <div class="stat-row">
                        <div class="roster-xtra-cell">
                            GK
                        </div>
                        <div class="roster-name-cell">
                            Ederson
                        </div>
                        <div class="roster-xtra-cell">
                            MNC
                        </div>
                        <div class="roster-xtra-cell">
                            7.8m
                        </div>
                        <div class="roster-xtra-cell">
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% }else{ %>
    <div id="league-panel-one" class="panel-third dark-grey-background">
        <div class="add-league"><span class="plus-container"><i class="glyphicon glyphicon-plus"></i></span></div>
    </div>
    <% } %>

    <% if(data[1]){ %>
    <div id="league-panel-two" class="panel-third dark-grey-background">
        <div class="active-league">

        </div>
    </div>
    <% }else{ %>
    <div id="league-panel-two" class="panel-third dark-grey-background">
        <div class="add-league"><span class="plus-container"><i class="glyphicon glyphicon-plus"></i></span></div>
    </div>
    <% } %>

    <% if(data[2]){ %>
    <div id="league-panel-three" class="panel-third dark-grey-background">
        <div class="active-league">

        </div>
    </div>
    <% }else{ %>
    <div id="league-panel-three" class="panel-third dark-grey-background">
        <div class="add-league"><span class="plus-container"><i class="glyphicon glyphicon-plus"></i></span></div>
    </div>
    <% } %>
</div>