/* COLORS -
  -BLACK/GREY
  #121212
  #1b1b1b
  #212121
  #222222
  #333333
  #aaaaaa
  -Red
  #8d0000
*/
.pi-page-container{
  background-color: #333333;
  display:flex;
}
.pi-login-page-container{
  background-color: #333333;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height:100vh;
}
.pi-top-bar{
  width:100%;
  height:55px;
  margin:0;
  padding:0;
  background-color: #121212;
  float:left;
  position:fixed;
  top:0;
  left:0;
  display:inline-flex;
}
.pi-search-bar{
  width:300px;
  background-color: #1b1b1b;
  border:1px solid #aaaaaa;
  padding:0 15px;
  border-radius: 20px;
  height:35px;
  margin:10px 200px;
  color:#ffffff;
}
.pi-search-bar:focus{
  outline-width: 0;
}
.pi-nav-bar-container{
  width:200px;
  height:100%;
  margin:0;
  color:#ffffff;
  background-color: #121212;
  position:fixed;
  margin-top:55px;
}
.pi-nav-bar{
  list-style: none;
  margin:0;
  padding:0;
}
.pi-nav-btn{
  width:100%;
  height:55px;
  margin:0;
  padding:5px;
  line-height: 45px;
  text-align:center;
  border-top: 2px solid #222222;
}
.pi-nav-btn:hover{
  background-color: #212121;
  cursor:pointer;
}
.pi-nav-btn-footer{
  border-bottom: 2px solid #222222;
}
.pi-header{
  width:200px;
  background-color: #8d0000;
  color:#ffffff;
  font-size:40px;
  font-family:initial;
  height:100%;
  text-align:center;
}
.pi-login-box{
  display:flex;
  width:350px;
  height:450px;
  background-color: #8d0000;
  border:2px solid #121212;
  border-radius: 10px;
  padding:5px;
  flex-flow:column;
}
.pi-login-icon-box{
  height:300px;
  width:100%;
  justify-content: center;
  align-items: center;
}
.pi-login-inputs{
  height:150px;
  width:100%;
  justify-content: space-around;
  flex-flow: column;
  align-items: center;
  display:flex;
}
.pi-flex-view-container{
  display:flex;
  margin-top:55px;
  margin-left:200px;
  /* background-color: #8d0000; */
  width:100%;
  /* height:100%; */
}
.view-container-column{
  display:flex;
  width:100%;
  height:100%;
  padding:5px;
  flex-direction:column;
}
.view-container-row{
  display:flex;
  width:100%;
  height:100%;
  padding:5px;
  flex-direction:row;
}
.pi-input{
  width:200px;
  height:30px;
  border-radius:5px;
  padding:5px;
  color:#000000;
}
.pi-default-btn{
  background-color: #333333;
  color:#ffffff;
  border:1px solid #121212;
  margin:0 5px;
}
.pi-btn-sm{
  height:25px;
  line-height:10px;
}
.pi-default-btn:hover{
  background-color: #222222;
  color:#ffffff;
  border:1px solid #aaaaaa;
}
.pi-default-btn:focus,{
  outline:none;
  color:#ffffff;
}

.pi-danger-btn{
  background-color: #8d0000;
  color:#ffffff;
  border:1px solid #121212;
  margin:0 5px;
}
.pi-danger-btn:hover{
  background-color: #660000;
  color:#ffffff;
  border:1px solid #aaaaaa;
}
.pi-danger-btn:focus{
  background-color: #660000;
  color:#ffffff;
  border:1px solid #121212;
}

.pi-default-btn:disabled,
.pi-danger-btn:disabled{
  background-color: #666666;
  color: #cccccc;
  border: 1px solid #cccccc;
}

.flex-row{
  display:inline-flex;
  justify-content: center;
}
.view-half-panel-width{
  width:50%;
  height:100%;
  /* background-color:#8d0000; */
  margin:5px;
  padding:5px;
  display:flex;
  flex-flow:column;
}
.view-half-panel-height{
  width:100%;
  height:50%;
  /* background-color:#8d0000; */
  margin:5px;
  padding:5px;
  display:flex;
  flex-flow:row;
}
/* .test-vertical-panel-33{
  width:33.3%;
  height:100%;
  margin:5px;
  padding:5px;
  background-color: #1b1b1b;
} */
.wedge-small{
width:300px;
height:300px;
margin:5px;
background-color: darkslategrey;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wedge-medium{
  width:350px;
  height:350px;
  margin:5px;
  background-color: darkslategrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wedge-large{
  width:450px;
  height:450px;
  margin:5px;
  background-color: darkslategrey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wedge-small:hover,
.wedge-medium:hover,
.wedge-large:hover{
  cursor:pointer;
  outline:2px solid #aaaaaa;
}
.wedge-top{
  height:50%;
  width:100%;
  margin:0;
  padding:0;
  background-color: aqua;
  min-height:50%;
}
.wedge-bottom{
  height:50%;
  width:100%;
  margin:0;
  padding:5px;
  background-color: #8d0000;
  color:#ffffff;
  min-height:50%;
}
.wedge-container{
  width:100%;
  height:100%;
  margin:5px;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  /* background-color: lime; */
}
.pi-flex-box-container{
  width:100%;
  height:100%;
  padding:5px;
  background-color: #1b1b1b;
  border-radius: 5px;
}
.dark-grey-background{
  background-color: #212121;
  border-radius:5px;
}
.pi-alert-base{
  position:fixed;
  display:flex;
  max-width:300px;
  max-height:150px;
  opacity:0;
  color:#000000;
  font-size: 18px;
  /* left:50%; */
  /* transform: translateX(-50%); */
  right:30px;
  top:55px;
  border-radius:5px;
  padding:5px;
  z-index:15;
  transition:1s;
}
.pi-alert-green{
  background-color:lime;
  opacity:0.75;
}
.pi-alert-red{
  background-color: red;
  opacity:0.75;
}
.pi-alert-blue{
  background-color: teal;
  opacity:0.75;
}
.user-display{
  margin-left:auto;
  margin-right:30px;
  color:#666666;
  line-height:60px;
  font-size:20px;
}
.league-modal-btn-container{
  width:100%;
  display:inline-flex;
  justify-content: center;
}
.league-modal-btn{
  width:50%;
  height:40px;
  border:1px solid #cccccc;
  color:#cccccc;
  margin:6px 3px;
  border-radius:5px;
  background-color: transparent;
}
.league-modal-btn:hover{
  background-color: #cccccc;
  border:1px solid #121212;
  color:#121212;
}
.close-modal-x{
  font-size: 25px;
  color:#cccccc;
  float:right;
  line-height:35px;
}
.close-modal-x:hover{
  color:#ffffff;
  cursor: pointer;
}
.active-btn-selector{
  background-color: #cccccc;
  color:#121212;
}
.footer-btn{
  margin:0 5px;
  float:right;
}
.modal-header,
.modal-footer{
  height:50px;
  background-color: #1b1b1b;
  color:#cccccc;
  padding:8px;
}
.modal-header-content{
  width: 100%;
  display:inline-block;
  color:#cccccc;
  font-size: 25px;
}
.action-modal-footer-btn{
  color:#ffffff;
  background-color: #8d0000;
}
.dismiss-modal-footer-btn{
  color:#cccccc;
  background-color:transparent;
  border: 1px solid #cccccc;
}
.league-modal-content{
  display:none;
  padding:5px;
  color:#cccccc;
  
}
.modal-body{
  background-color: #222222;
  color:#cccccc;
  padding:5px;
}
.center-flex-box{
  display:flex;
  flex-flow: row;
  justify-content:center;
}
.dummy-div{
  width:100%;
  height:500px;
}

.flex-container-row{
  display: flex;
  flex-flow: row;
}
.flex-container-col{
  display: flex;
  flex-flow: column;
}
.pi-mobile-menu-btn-container{
  display:none;
  justify-content: center;
  align-items: center;
  background-color: #8d0000;
  font-size:40px;
  width:55px;
  color:#ffffff;
}

.color-red{
  color:#ff0000;
}
.color-green{
  color:#00ff00;
}





@media(max-width:950px){
  .pi-title-search-container{
    display:none;
  }
  .pi-mobile-menu-btn-container{
    display:flex;
  }
  .pi-header{
    display:none;
  }
  .pi-nav-bar-container{
    display:none;
  }
  .pi-flex-view-container{
    margin-top:55px;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:0px;
  }
}