<!DOCTYPE html>
<!-- saved from url=(0060)https://getbootstrap.com/docs/4.0/examples/starter-template/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <script type="text/javascript" src="/javascripts/helper/moment.min.js"></script>
    <!-- <script type="text/javascript" src="/javascripts/helper/moment-timezone-with-data-2012-2022.min.js"></script>
    <script type="text/javascript" src="/javascripts/helper/moment-timezone.min.js"></script> -->
  </head>

  <style>
      .selected{
          background-color: aqua !important;
      }
      .added{
          background-color: blueviolet !important;
      }
      .updated{
          background-color: limegreen !important;
      }
  </style>
  <body>
    <%- nav %>
    <div class="admin-control-panel-menu">
        <div class="admin-table-control-container">
            <table class="admin-control-table">
                <tr class="admin-control-table-actions-row">
                    <td colspan="2"><span id="admin-control-cancel" class="glyphicon glyphicon-remove admin-control-glyphicon"></span><span id="admin-control-save" class="glyphicon glyphicon-floppy-disk admin-control-glyphicon"></span><span id="admin-control-edit" class="glyphicon glyphicon-edit admin-control-glyphicon"></span><span id="admin-control-add" class="glyphicon glyphicon-plus admin-control-glyphicon"></span></td>
                </tr>
                <tr class="admin-control-table-row">
                        <td class="admin-control-table-label">Player ID: </td>
                        <td id="admin-table-id"></td>
                    </tr>
                <tr class="admin-control-table-row">
                    <td class="admin-control-table-label">First Name: </td>
                    <td id="admin-table-first"></td>
                </tr>
                <tr class="admin-control-table-row">
                    <td class="admin-control-table-label">Last Name: </td>
                    <td id="admin-table-last"></td>
                </tr>
                <tr class="admin-control-table-row">
                    <td class="admin-control-table-label">Team: </td>
                    <td id="admin-table-team" data-team=''></td>
                </tr>
                <tr class="admin-control-table-row">
                    <td class="admin-control-table-label">Cost: </td>
                    <td id="admin-table-cost"></td>
                </tr>
                <tr class="admin-control-table-row">
                    <td class="admin-control-table-label">Position: </td>
                    <td id="admin-table-position"></td>
                </tr>
                <tr id="admin-table-espn-id-row" class="admin-control-table-row">
                    <td class="admin-control-table-label">ESPN ID: </td>
                    <td id="admin-table-espn"></td>
                </tr>
                <tr id="admin-table-injured-row" class="admin-control-table-row">
                    <td class="admin-control-table-label">injured: </td>
                    <td id="admin-table-injured"></td>
                </tr>
                <tr id="admin-table-date-row" class="admin-control-table-row">
                    <td class="admin-control-table-label">Date: </td>
                    <td id="admin-table-date"></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="admin-player-table-container">
        <div id="players-table">
            <%- players_table %>
        </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src="/jquery/jquery.js"></script>
    <%- view %>
    <script>

      $(document).ready(function($){
        //dropdown menu functionality
        var teamsDD = $('#teamsBtn');
        
        teamsDD.click(function(){
          $('#teamsDisp').toggleClass('ngate-content-show');
        });
    });
    </script>

</body></html>