<!DOCTYPE html>
<html lang="en" class="pi-fit-screen-100">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        
        <!-- <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/datatables-bs/css/dataTables.bootstrap.min.css">

        <!-- <link rel="stylesheet" href="/stylesheets/datatableTheme.css"> -->
        <!-- <link href="/stylesheets/dataTables.bootstrap4.min.css" rel="stylesheet"> -->

    </head>
    <style>
        .panel-default{
            border-color:#313131;
            background-color:#404040;
            margin-bottom:0px;
            overflow:auto;
        }
        .player-stats-container{
            display:inline-flex;
        }
        .player-stats{
            width: 50%;
            padding: 5px 5px;
        }
        .player-details-btn:hover{
            cursor: pointer;
        }
        .home-player-table>tbody>tr:hover,
        .away-player-table>tbody>tr:hover{
            background-color:#1d1d1d;
        }
        .home-score,
        .away-score{
            width:15%;
        }
        .home-team,
        .away-team{
            width:25%;
        }
        .game-time{
            width:20%;
        }
        .game-chart-container{
            max-width:100%;
        }
        .players-table thead th ::after{
            line-height: 4px;
        }
    </style>
    <body class="pi-default-background pi-fit-screen-100">
        <div class="pi-page-container">
            <div class="pi-default-container">
                <div class="panel panel-default pi-optional-side-panel">
                    <div class="panel-heading pi-panel-header">Game Statistics</div>
                    <div class="panel-body pi-panel-body">
                        <div id="gameGoalsChart" class="game-chart-container">
                        </div>
                        <div id="gameAssistsChart" class="game-chart-container">
                        </div>
                        <div id="gameSavesChart" class="game-chart-container">
                        </div>
                        <div id="gameShotsChart" class="game-chart-container">
                        </div>
                        <div id="gameOnTargetChart" class="game-chart-container">
                        </div>
                        <div id="gameFoulsChart" class="game-chart-container">
                        </div>
                        <div id="gameFouledChart" class="game-chart-container">
                        </div>
                    </div>
                </div>
                <div class="panel panel-default pi-panel-default">
                    <div class="panel-heading pi-panel-header">Team Statistics</div>
                    <div id="main-panel-body" class="panel-body pi-panel-body">
                        <table id="game-header-table" class="game-header-table table table-condensed" data-espn-id="<%- gameId %>">
                            <thead>
                                <th class="home-score"><%- homeScore %></th>
                                <th class="home-team" data-home-id="<%- homeId %>"><%- homeTeam %></th>
                                <th class="game-time"><%- gameTime %></th>
                                <th class="away-team" data-away-id="<%- awayId %>"><%- awayTeam %></th>
                                <th class="away-score"><%- awayScore %></th>
                            </thead>
                        </table>
                        <div id="player-stats-container" class="player-stats-container">
                            <div class="player-stats">
                                <table id="home-players-table" class="stripe nowrap cell-border players-table"></table>
                            </div>
                            <div class="player-stats">
                                <table id="away-players-table" class="stripe nowrap cell-border players-table"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type='text/javascript' src="/jquery/jquery.js"></script>
        <script type='text/javascript' src="/viewjs/premGame.js"></script>
        <script type="text/javascript" src="/helper/moment.min.js"></script>
        <script type="text/javascript" src="/helper/bootstrap.min.js"></script>
        <script type="text/javascript" src="/fusioncharts/fusioncharts.js"></script>
        <script type="text/javascript" src="/datatables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/datatables-bs/js/dataTables.bootstrap.min.js"></script>

        <script>

        $(document).ready(function($){
            //dropdown menu functionality
            var teamsDD = $('#teamsBtn');
            
            teamsDD.click(function(){
            $('#teamsDisp').toggleClass('ngate-content-show');
            });
        });
        </script>

    </body>
</html>