<!DOCTYPE html>
<!-- saved from url=(0060)https://getbootstrap.com/docs/4.0/examples/starter-template/ -->
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico">

    <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="./stylesheets/bootstrap.css" rel="stylesheet">
    <link href="./stylesheets/bootstrap-grid.css" rel="stylesheet">
    
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="./stylesheets/ie10-viewport-bug-workaround.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="./stylesheets/starter-template.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/starter-template.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/javascripts/StartSub.js">
  </head>
  <style>
    .score-row{
      width:90vw;
      margin: 5vw 0;
    }
    .home-score,
    .away-score{
      width:15%;
      font-weight: bold;
      display:inline-block;
    }
    .home-team,
    .away-team{
      width:30%;
      font-weight: bold;
      display:inline-block;
    }
    .home-stats,
    .away-stats{
      width:40vw;
      margin: 5vw 0;
      white-space: nowrap;
    }
    .game-stats{
      display:inline-block;
    }
  </style>

  <body>
    <%- nav %>
    <div class="players">

      <%- print %>

    </div><!-- /.container -->

    <div id="data-scraped">

    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type='text/javascript' src="/jquery/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/scrape.js"></script>
    <script>

      $(document).ready(function($){
        //dropdown menu functionality
        var teamsDD = $('#teamsBtn');
        
        teamsDD.click(function(){
          $('#teamsDisp').toggleClass('ngate-content-show');
        });

        /*$(document).click(function(e){

          if($('#teamsDisp').hasClass('ngate-content-show')){
            $('#teamsDisp').toggleClass('ngate-content-show');
          }
        });*/

        $('#TID').select(function () {
            var team = $('#TID').val();
            alert(team);
        });

        $('#submit').click(function(e) {
            e.preventDefault();
            var team = $('#TID').val();
            alert(team);
        });
    });
    </script>

</body></html>