<!DOCTYPE html>
<html lang="en" class="pi-fit-screen-100">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        
        <!-- <link href="/stylesheets/bootstrap.min.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/datatables-bs/css/dataTables.bootstrap.min.css">

        <!-- <link rel="stylesheet" href="/stylesheets/datatableTheme.css"> -->
        <!-- <link href="/stylesheets/dataTables.bootstrap4.min.css" rel="stylesheet"> -->

    </head>
    <style>
        
    </style>
    <body class="pi-page-container">
        <div class="pi-universal-container">

        </div>

        <script type='text/javascript' src="/jquery/jquery.js"></script>
        <script type="text/javascript" src="/helper/moment.min.js"></script>
        <script type="text/javascript" src="/helper/bootstrap.min.js"></script>
        <script type="text/javascript" src="/fusioncharts/fusioncharts.js"></script>
        <script type="text/javascript" src="/datatables/jquery.dataTables.js"></script>
        <script type="text/javascript" src="/datatables-bs/js/dataTables.bootstrap.min.js"></script>
        <%- view %>
    </body>
</html>