<div id="home-player-stats" class="player-stats">
    <table id="home-player-table" class="home-player-table table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>St</th>
                <th>Sb</th>
                <th>G</th>
                <th>A</th>
                <th>Sv</th>
                <th>Sht</th>
                <th>T</th>
                <th>Fls</th>
                <th>Fld</th>
                <th>YC</th>
                <th>RC</th>
            </tr>
        </thead>
        <tbody>
            <% homePlayers.forEach(function(player){ %>
            <tr data-player-id="<%- player.player_id %>">
                <td><span class="glyphicon glyphicon-plus-sign player-details-btn"></span></td>
                <td><%- player.last_name %></td>
                <td><%- player.start %></td>
                <td><%- player.sub %></td>
                <td><%- player.goals %></td>
                <td><%- player.assists %></td>
                <td><%- player.saves %></td>
                <td><%- player.shots %></td>
                <td><%- player.shots_on_target %></td>
                <td><%- player.fouls %></td>
                <td><%- player.fouled %></td>
                <td><%- player.yellow_cards %></td>
                <td><%- player.red_card %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<div id="away-player-stats" class="player-stats">
    <table id="away-player-table" class="away-player-table table table-condensed">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>St</th>
                <th>Sb</th>
                <th>G</th>
                <th>A</th>
                <th>Sv</th>
                <th>Sht</th>
                <th>T</th>
                <th>Fls</th>
                <th>Fld</th>
                <th>YC</th>
                <th>RC</th>
            </tr>
        </thead>
        <tbody>
            <% awayPlayers.forEach(function(player){ %>
            <tr data-player-id="<%- player.player_id %>">
                <td><span class="glyphicon glyphicon-plus-sign player-details-btn"></span></td>
                <td><%- player.last_name %></td>
                <td><%- player.start %></td>
                <td><%- player.sub %></td>
                <td><%- player.goals %></td>
                <td><%- player.assists %></td>
                <td><%- player.saves %></td>
                <td><%- player.shots %></td>
                <td><%- player.shots_on_target %></td>
                <td><%- player.fouls %></td>
                <td><%- player.fouled %></td>
                <td><%- player.yellow_cards %></td>
                <td><%- player.red_card %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>