<div id="player-single-game-details">
    <div class="row chart-row">
        <% if(pos === "GK"){ %>
        <div id="player-single-game-chart-goals" class="col-md-6"></div>
        <% }else{ %>
        <div id="player-single-game-chart-saves" class="col-md-6"></div>
        <% } %>  
        <div id="player-single-game-chart-assists" class="col-md-6"></div>
    </div>
    <div class="row chart-row">
        <div id="player-single-game-chart-shots" class="col-md-6"></div>
        <div id="player-single-game-chart-shots-on-target" class="col-md-6"></div>
    </div>
    <div class="row chart-row">
        <div id="player-single-game-chart-fouls" class="col-md-6"></div>
        <div id="player-single-game-chart-fouled" class="col-md-6"></div>
    </div>
</div>